* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

header, main, footer {
    max-width:  640px;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: 1rem;
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    border: 1px solid #000;
    padding: 0.5rem;
    background-color: white;
}