*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4A90E2;
    --secondary-color: #50E3C2;
    --font-color: #ffffff;
    --background-color: #526456;
}

body {
    font-family: "Cinzel", serif;
    font-weight: 500;
    max-width: 1200px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Cinzel", serif;
    font-weight: 700;
    margin: 10px 0;
}

header {
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}