* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D02752;
    --secondary-color: #8A244B;
    --option-color: #F63049;
    --background-color: #111F35;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-weight: 100;
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: var(--background-color);
    color: aliceblue;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-area:
        "header", "main", "footer";
}

    header {
        text-align: center;
        margin-bottom: 40px;
        gap: 50px;
        background-color: var(--primary-color);
        padding: 20px;
        align-items: center;
    }

    header h2 {
        color: aliceblue;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 10px 20px 0 0;
    }

    header nav {
        margin-left: auto;
    }

    ul {
        list-style: none;
    }

    header a {
        color: aliceblue;
        text-decoration: none;
    }

    header a:hover {
        text-decoration: underline;
        color: rgb(198, 226, 250);
    }

    main h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    footer {
        border: 2px solid rgb(0, 0, 0, 0.8);
        background-color: var(--primary-color);
        padding: 20px;
        text-align: center;
    }

    #temples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 960px;
        gap: 20px;
        justify-items: stretch;
        align-items: stretch;
        text-align: center;
    }

    #temples article {
        margin: 0;
        padding: 15px 10px;
        background-color: var(--secondary-color);
        border-radius: 8px;
        margin-bottom: 20px;

        display: grid;
        grid-template-rows: auto 100px 1fr;
    }

    #temples img {
        width: 100%;
        height: auto;
        max-width: 380px;
        border-radius: 8px;
        margin: 0.5rem auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        border: 2px solid rgb(255, 255, 255, 0.2);
    }